In [121]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [122]:
df = pd.read_csv('data\StudentsPerformance.csv')

In [123]:
df.columns = ['gender', 'ethnicity', 'parents_education', 'lunch', 'preparation_course', 'math_score', 'reading_score', 'writing_score']

In [124]:
df

,gender,ethnicity,parents_education,lunch,preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [125]:
features = ['gender', 'ethnicity', 'parents_education', 'lunch', 'preparation_course', 'reading_score', 'writing_score']
X = df[features]
y = df['math_score']

In [126]:
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.75, random_state=1)

In [127]:
temp = (X.dtypes == 'object')
object_cols =list(temp[temp].index)

In [128]:
ordinal_encoder = OrdinalEncoder()
X_train[object_cols] = ordinal_encoder.fit_transform(X_train[object_cols])
X_val[object_cols] = ordinal_encoder.transform(X_val[object_cols])

In [129]:
model = RandomForestRegressor(random_state=1, max_depth=9)
model.fit(X_train, y_train)
predictions = model.predict(X_val)
mean_absolute_error(y_val, predictions)

4.653500835578272